acres==0.3.0
aiofiles==24.1.0
anyio==4.8.0
apt-xapian-index==0.49
awscli==1.22.34
blinker==1.9.0
botocore==1.23.34
Brlapi==0.8.3
Brotli==1.0.9
certifi==2020.6.20
chardet==4.0.0
ci-info==0.3.0
click==8.1.8
colorama==0.4.4
command-not-found==0.3
configobj==5.0.9
configparser==7.1.0
cryptography==3.4.8
cupshelpers==1.0
dbus-python==1.2.18
distlib==0.3.4
distro==1.7.0
distro-info==1.1+ubuntu0.2
docutils==0.17.1
etelemetry==0.3.1
exceptiongroup==1.2.2
filelock==3.6.0
fitz==0.0.1.dev2
Flask==3.1.0
flask-cors==5.0.1
Flask-SQLAlchemy==3.1.1
frontend==0.0.3
fuse-python==1.0.2
gpg==1.16.0
greenlet==3.1.1
gyp==0.1
h11==0.14.0
httplib2==0.20.2
idna==3.3
importlib-metadata==4.6.4
importlib_resources==6.5.2
isodate==0.6.1
itsdangerous==2.2.0
jeepney==0.7.1
Jinja2==3.1.5
jmespath==0.10.0
keyring==23.5.0
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
looseversion==1.3.0
louis==3.20.0
lxml==5.3.1
Mako==1.1.3
Markdown==3.3.6
MarkupSafe==3.0.2
meson==0.61.2
more-itertools==8.10.0
mutagen==1.45.1
netifaces==0.11.0
networkx==3.4.2
nibabel==5.3.2
nipype==1.9.2
numpy==2.2.3
oauthlib==3.2.0
olefile==0.46
packaging==24.2
pandas==2.2.3
pathlib==1.0.1
Pillow==9.0.1
platformdirs==2.5.1
prov==2.0.1
puremagic==1.28
pyasn1==0.4.8
pycairo==1.20.1
pycryptodomex==3.11.0
pycups==2.0.1
pydot==3.0.4
Pygments==2.11.2
PyGObject==3.42.1
PyJWT==2.3.0
pylibacl==0.6.0
PyMySQL==1.1.1
pyparsing==3.2.1
PyQt5==5.15.6
PyQt5-sip==12.9.1
python-apt==2.4.0+ubuntu3
python-dateutil==2.9.0.post0
python-debian==0.1.43+ubuntu1.1
python-dotenv==1.0.1
pytz==2025.1
pyxattr==0.7.2
pyxdg==0.27
pyxnat==1.6.3
PyYAML==5.4.1
rdflib==6.3.2
requests==2.25.1
roman==3.3
rsa==4.8
s3transfer==0.5.0
scipy==1.15.2
SecretStorage==3.3.1
simplejson==3.20.1
six==1.16.0
sniffio==1.3.1
SQLAlchemy==2.0.38
starlette==0.46.0
systemd-python==234
tornado==6.1
traits==7.0.2
typing_extensions==4.12.2
tzdata==2025.1
ubuntu-pro-client==8001
ufw==0.36.1
unattended-upgrades==0.1
urllib3==1.26.5
uvicorn==0.34.0
virtualenv==20.13.0+ds
wadllib==1.3.6
websockets==9.1
Werkzeug==3.1.3
xdg==5
yt-dlp==2022.4.8
zipp==1.0.0
